services:
  frontend:
    build: ./frontend
    container_name: igreja_frontend
    ports:
      - "80:80"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    restart: always
    networks:
      - igreja_network

  backend:
    build: ./backend
    container_name: igreja_backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - db
    restart: always
    networks:
      - igreja_network

  db:
    image: postgres:15
    container_name: igreja_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    restart: always
    networks:
      - igreja_network

networks:
  igreja_network:
    driver: bridge
